class
client_files
server_files
Demo_Project
*.class
*.iml
.gradle
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
Thumbs.db
.DS_Store
*.log
captures/
.externalNativeBuild/
.cxx/
output.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
